body{
    background-color: #A3DDFF;
    font-size: 14px;    
    overflow-x: hidden;
    overflow-y: scroll;
}

.botonReservar{
    background: #5E2F1B;
    color: white;
    padding: 4px 15px;   
    
}

#centrarBoton{
   
    text-align: center;
}

header{
    display: inline-block;
    width: 100%;
}
header h1{
        font-size:40px;    
    text-align: center;
}

nav{
    text-align: center;
    
    
}

nav>ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: stretch;
    padding: 0;
    margin: 0;
}

nav>ul li{
    padding: 10px 3px;
    display: flex;
    flex: 1 0 auto;
    transition: background-color 1s;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    background-color: #00a806;
}

nav ul li a{
   text-decoration: none;
   color: black;    
}

nav> ul li:hover{
    transform: scale(1.01,1.01);
    transition: 1s;
}


aside{
    box-shadow: -3px 0 black;
    width: 60%;
    position: absolute;
    display: none;
    right: 0;
    background:#00a806 ;
    margin-top: 10px;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    
}

aside h2{
    
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    text-shadow: 0px 0px 1px white;

}

aside ul{
    list-style: none;
    padding: 10px;
   
}



aside ul li{
    padding: 10px 5px;
}

aside ul li label{
    margin-right: 15px;
}

aside ul li input{
    width: 95%;
}

aside ul li>button{
    text-align: center;
}

aside a{
    text-decoration: none;    
}

main{
    
}

main section{   
    width: 100%;
    align-items: baseline;
    justify-content: center;

}

#reservar{
    background: #5E2F1B;
    color: white;
    padding: 4px 15px;   
    
}

 article{
     background-color: #E6DBC3;
    padding: 10px;      
    align-items: center;    
    border: 2px solid black;
    transition: background-color 1s;
}

main section img{
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
}


footer{    
    background:#00a806 ;
    min-height: 50px;
    text-align: center;
    padding: 10px;    
    margin-top: 10px;
    border-top: 2px solid black;
}





#seccionInfo{
    width: 90%;
    margin: 4em auto;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: flex-start;
}



@media (min-width: 768px) {    

    main section article{
        flex: 0 1 39%;
        margin: 10px 10px;
        padding: 15px;
        height: 90%;
        text-align: center;
    }


}

@media screen and (min-width: 1200px){   

    aside{
        width: 15%;
        display: flex;
        position: relative;        
    }

    header{
        background-size: 100% 100%;
        min-height: 100px;        
        
    }

    main {
        display: flex;
        flex: 0 1 84%;
    }

    main section{
      
    }

    main section article{
       
        margin: 10px 10px 0px;
        padding: 15px;
    }

    nav{
        font-size: 20px;
    }       

     #botonDesplegarAside{
        display: none;
    }

}