@font-face{
  font-family: 'sosa';
  src: url('../fonts/sosa/sosa-regular-webfont.ttf') format('truetype'); 
  src: url('../fonts/sosa/sosa-regular-webfont.ttf') format('truetype'), 
       url('../fonts/sosa/sosa-regular-webfont.woff') format('woff'),
       url('../fonts/sosa/sosa-regular-webfont.woff') format('woff'),
       url('../fonts/sosa/sosa-regular-webfont.eot') format('eot');
}

*{
	margin: 0px;
	padding: 0px;
}
html, body {	
	width: 100%;
	height: 100%;
	margin: 0px;
}

a {
	color: white;
}

#stars {
	height: 100%;
	width: 100%;	
	background: url('../imagenes/stars.gif') no-repeat;
	background-size: cover;
	*background-position: 0 -60px;
	z-index: 0;
}

#cockpit {
	height: 100%;
	width: 100%;
	background: url('../imagenes/cockpit.png') no-repeat center;		
	background-size: 100% 100%;
	z-index: 1;
	
}

#cabinaSuperior {		
	height: 11%;
	background: url('../imagenes/cabinaSuperior.png') no-repeat;	
	background-size: 100% 100%;	
}

#central {
	display: flex;
	flex-flow: row wrap;
	height: 60%;
	width: 100%;	
}

#cabinaIzquierda {
	margin-left: -1px;
	flex-grow: 1;	
	height: 100%;	
	background: url('../imagenes/cabinaIzquierda2.png') no-repeat;
	background-size: 100% 100%;	
}

#monitorCentral {
	position: relative;
	z-index: 1000;		
	height: 100%;	
	background: url('../imagenes/monitorCentral.png') no-repeat center center;	
	background-size: 100% 100%;
	z-index: 2;
}

#contenidoMonitor {
	position: relative;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 3;
	background: url('../imagenes/estatica.gif') center center;
	*width: 100%;
	height: 100%;

}

#monitorVacio {
	position: relative;
	flex-grow: 8;		
	z-index: 10;
	background: url('../imagenes/monitorCentral.png') no-repeat center center;
	background-size: 100% 100%;
	height: 100%;
	

}



#contenidoMonitorPrincipal {
	display: none;
	position: absolute;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 4;
	*background: url('../imagenes/negro.png');
	width: 100%;
	height: 100%;	
	*margin: 3em;
	
}

#fotoPrincipal {
	display: inline-block;
	margin-top: 2.5em;
	margin-left: 2.5em;
	background: url('../imagenes/yo.png') no-repeat;	
	background-size: contain;
	width: 40%;
	height: 40%;
	z-index: 1;
}

#informacionPrincipal {
	
	margin: 1em 2.5em 1em;
	height: 50px;
	overflow: scroll;
	overflow-x: hidden;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;

}

h3 {
	text-align: center;
}



#fotoPrincipal {
	display: inline-block;

}

#redesSociales {
	display: none;
	vertical-align: top;
	margin-top: 3em;
	
}

#twitter {
	line-height: 140%;
	width: 1.5em;
	height: 1.5em;
	background-color: #1DA1F2;
	*z-index: 100;
	font-family: 'sosa';
	font-size: 1.5em;

}

#twitter:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
	*z-index: 100;
}


#github {
	line-height: 140%;
	background-color: black;
	width: 1.5em;
	height: 1.5em;
	font-family: 'sosa';
	font-size: 1.5em;

	
}

#github:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
	*z-index: 100;
}

#linkedin {
	line-height: 140%;
	width: 1.5em;
	height: 1.5em;
	font-family: 'sosa';
	font-size: 1.5em;
    background-color: #0077B5;
	
}

#linkedin:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
	*z-index: 100;
}

#contenidoMonitorSobreMi {
	display: none;
	position: absolute;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 4;
	width: 100%;
	height: 100%;
}

#fotoSobreMi {
	display: inline-block;
	margin-top: 2.5em;
	margin-left: 2.5em;
	background: url('../imagenes/yo.png') no-repeat;	
	background-size: contain;
	width: 40%;
	height: 40%;
	z-index: 1;
}

#informacionSobreMi {
	
	margin: 2em 2.5em 1em;
	overflow: scroll;
	overflow-x: hidden;
	height: 100px;
	padding-top: 2em;
	
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h3 {
	text-align: center;

}

#contenidoMonitorProyectos {
	display: none;
	position: absolute;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 3;
	*background: url('../imagenes/monitorProyectos.png') no-repeat center center;
	width: 100%;
	height: 100%;	
	margin-top: 1.4em;
	margin-left: 1.5em;	
}

#proyecto1, #proyecto2 {
	display: inline-block;
	height: 30%;
	width: 90%;
	margin-top: 2em;
	
}


#fotoProyecto1 {
	display: inline-block;
	background: url('../imagenes/proyecto1.png') no-repeat center center;
	background-size: contain;
	width: 40%;
	height: 100%;
	margin-left: 1em;
	transition: 1s;

}

#fotoProyecto1:hover {
	transform: scale(1.05, 1.05);
	transition: 1s;

}

#fotoProyecto2 {
	display: inline-block;
	background: url('../imagenes/proyecto2.png') no-repeat center center;
	background-size: contain;
	width: 40%;
	height: 100%;
	margin-left: 1em;
	transition: 1s;

}

#fotoProyecto2:hover {
	transform: scale(1.05, 1.05);
	transition: 1s;
}

#infoProyecto1, #infoProyecto2 {
	display: inline-block;
	width: 50%;
	vertical-align: 1em;
	color: white;

}


#contenidoMonitorCV {
	display: none;
	position: absolute;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 4;
	width: 100%;
	height: 100%;	
}



#informacionCV {
	
	margin: 2em 2.5em 1em;
	overflow: scroll;
	overflow-x: hidden;
	height: 100px;
	padding-top: 2em;
	
}

#contenidoMonitorContacto {
	display: none;
	position: absolute;
	flex-grow: 8;	
	align-self: flex-start;
	z-index: 4;
	width: 100%;
	height: 100%;	
}

#fotoContacto {
	display: inline-block;
	margin-top: 2.5em;
	margin-left: 2.5em;
	background: url('../imagenes/yo.png') no-repeat;	
	background-size: contain;
	width: 40%;
	height: 40%;
	z-index: 1;
}

#informacionContacto {
	
	margin: 1em 2.5em 1em;
	overflow: scroll;
	overflow-x: hidden;
	height: 50px;
	
}

#informacionContacto a{
	
	color: black;
	
}

#cabinaDerecha {	
	margin-right: 0.25px;
	flex-grow: 1;		
	height: 100%;	
	background: url('../imagenes/cabinaDerecha2.png') no-repeat;	
	background-size: 100% 100%;
}


#cabinaInferior {
	height: 10%;	
	background: url('../imagenes/cabinaInferior.png') no-repeat;	
	background-size: 100% 100%;
}

#panelControl {
	height: 19%;	
	background: url('../imagenes/panelControl.png') no-repeat;	
	background-size: 100% 100%;
	text-align: center;
}

#botonRojo {
	display: none;	
	position: relative;
	float: left;	
	height: 50px;
	width: 50px;
	margin-left: 0.8em;
	margin-top: 0.5em;
	background: url('../imagenes/botonRojo.png');
	background-size: 50px 50px;
	*border: 1px outset #000000;
	border-radius: 15px;
	box-shadow: 2px 2px 5px #111111;
}

#botonRojo:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
}

nav {
	vertical-align: middle;
	display: inline-block;	
	padding: 2px;
	text-align: center;
}

nav>ul {
	list-style: none;
	margin-top: 0.5em;	
	padding: 0;
}

nav>ul>li {
	display: inline-block;
	width: 4em;
	height: 2em;
	text-align: center;
	*margin-left: 1em;
	*margin-right: 1em;		
	color: white;
	background-color: #333333;
	border: 1px outset #000000;
	box-shadow: 2px 2px 5px #111111;
	cursor:pointer;
	padding: 2px;
	line-height: 200%;

}

nav>ul>li>a {
	margin-top: 10px;
}
nav>ul>li:hover {
	box-shadow: none;
	transform: scale(0.95, 0.95);
}

#botonIzquierdo {
	display: none;	
	position: relative;
	height: 50px;
	width: 50px;
	margin-right: 0.8em;
	margin-top: 0.5em;
	background: url('../imagenes/es.png');
	background-size: 50px 50px;
	float: right;
	border-radius: 50px;	
	*border: 1px outset #000000;
	box-shadow: 2px 2px 5px #111111;
}

#botonIzquierdo:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
}

#botonDerecho {
	display: none;
	position: relative;
	height: 50px;
	width: 50px;
	margin-right: 0.2em;		
	margin-top: 0.5em;
	background: url('../imagenes/uk.png');
	background-size: 50px 50px;
	float: right;
	border-radius: 50px;		
	*border: 1px outset #000000;
	box-shadow: 2px 2px 5px #111111;
}

#botonDerecho:hover {
	border: none;
	box-shadow: none;
	transform: scale(0.95, 0.95);
}

@media (min-height: 500px) {
	#informacionPrincipal, #informacionSobreMi, #informacionContacto {
		height: 100px;
	}
	
	#informacionCV, #informacionSobreMi{
		height: 200px;
	}

	#infoProyecto1, #infoProyecto2 {
	vertical-align: 3em;
	}

	nav>ul, #botonRojo, #botonIzquierdo, #botonDerecho {
		margin-top: 2em;	
	}
}

@media (min-height: 600px) {
	#informacionPrincipal, #informacionSobreMi, #informacionContacto {
		height: 115px;
	}

	#informacionCV, #informacionSobreMi{
		height: 250px;
	}
}	



@media (min-height: 700px) {
	#informacionPrincipal, #informacionSobreMi, #informacionContacto {
		height: 135px;
	}

	#informacionCV, #informacionSobreMi{
		height: 300px;
	}
}	



@media (min-height: 800px) {
	#informacionPrincipal, #informacionSobreMi, #informacionContacto {
		height: 150px;
	}
	
	#informacionCV, #informacionSobreMi{
		margin-top: 5em;
		height: 370px;
	}

	#fotoPrincipal, #fotoSobreMi, #fotoCV, #fotoContacto {
		margin-top: 3em;
	}

	#infoProyecto1, #infoProyecto2 {
	vertical-align: 4em;
	}
}

@media (min-width: 500px) {
	#redesSociales, #botonIzquierdo, #botonDerecho {
		display: inline-block;
	}

	
}

@media (min-width: 565px) {
	#botonRojo {
		display: inline-block;
	}
}



@media (min-width: 730px) {
	nav>ul>li {
	margin-left: 1em;
	margin-right: 1em;	
	width: 4em;	
	}

	#infoProyecto1, #infoProyecto2 {
		margin-left: 2em;
	}
}

@media (min-width: 800px) {

	nav>ul>li {
		margin-left: 1em;
		margin-right: 1em;	
		width: 4.5em;	
	}
	
	#botonRojo{
	margin-left: 2em;
	}

	#botonIzquierdo{
		margin-right: 2em;
	}

	#botonDerecho {
		margin-right: 1em;
	}
}

@media (min-width: 1110px) {
	#fotoPrincipal {
		*margin-top: 3.5em;
		margin-left: 3.5em;
	}

	#informacionPrincipal, #informacionSobreMi, #informacionCV, #informacionContacto {	
		margin: 2.5em 2.5em 1.5em;
	}

	p {
		*margin-top: 1em;
		margin-bottom: 1em;
	}

	#redesSociales {
		*margin-top: 4em;
	}

	#contenidoMonitorProyectos {	
		margin-top: 2em;
		margin-left: 2.2em;	
	}

	#fotoSobreMi {
		margin-top: 3.5em;
		margin-left: 3.5em;
	}

	

	#fotoCV {
		*margin-top: 3.5em;
		margin-left: 3.5em;
	}

	

	#fotoContacto {
		*margin-top: 3.5em;
		margin-left: 3.5em;
	}

}

@media (min-width: 1200px) {
	#informacionPrincipal, #informacionSobreMi, #informacionCV, #informacionContacto {
		margin-left: 3.5em;
		margin-right: 3.5em;
	}

	#informacionCV, #informacionSobreMi {
		margin-top: 3em;
	}

}

@media (min-width: 1400px) {
	#fotoPrincipal, #fotoSobreMi, #fotoCV, #fotoContacto {
		margin-left: 4.5em;
		margin-right: 4.5em;
	}

	#informacionPrincipal, #informacionSobreMi, #informacionCV, #informacionContacto {
		margin-left: 4.5em;
		margin-right: 4.5em;
	}

}